<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Assets/Style/style.css">
    <title>Listing Equipement</title>
</head>
<body>
    <header>
        <h1>Listing Equipement</h1>
    </header>
    <main>
        <div id="corps">
            <div id="filtre">
                <p>
                    <label>Tête</label>
                    <input type="checkbox" id="tete">
                </p>
                <p>
                    <label>Torse</label>
                    <input type="checkbox" id="torse"> 
                </p>
                <p>
                    <label>Bras</label>
                    <input type="checkbox" id="bras">
                </p>
                <p>
                    <label>Botte</label>
                    <input type="checkbox" id="Botte">  
                </p>
                <p>
                    <label>Arme</label>
                    <input type="checkbox" id="arme">
                </p>
            </div>
            <div id="listing"></div>
        </div>

    </main>
    <footer>

    </footer>
    <script src="../Assets/JS/stuff.js"></script>
</body>
</html>